$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

/* Vertical Spacing */

.b10 { margin-bottom: 10px; }
.b20 { margin-bottom: 20px; }
.b30 { margin-bottom: 30px; }
.b50 { margin-bottom: 30px; }

.key-points .fa {
    font-size: 2em;
    width: 40px;
    line-height: 40px;
    background: #FFF;
}